<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <script src="../../javascript/app.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <title>Document</title>
    <style>
         body {
            background-image: url("../../media/background.webp");
         }
    </style>

</head>
<body>

    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="../../index.html">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../professional/professional.html">Professional</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../personal/personal.html">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Meaning of Life</a>
            </li>
        </ul>
    </div>

    <h1>Personal</h1>

    <img src="../../media/salem.jpg"  alt="home" />
    <div>        
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    The Cat
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>The cat is an artificial intelligence generated image of beloved 90s sitcom character Salem Saberhagen!</p> 
                  <p>Salem Saberhagen is a 500-year-old witch who was sentenced to spend 100 years as a cat by the Witches Council as punishment for attempting to take over the world.</p> 
                  <p>Salem is one of my favourite characters. Others include Gregory House from House M.D, Sherlock from Sherlock Holmes, and Marshall Eriksen from How I Met Your Mother.
              </div>
            </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  More About Me...
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>In my free time, I really do music and theatre. I play guitar, and am in fact part of a charity concert in October 2022. I currently own a Fender Dreadnought Acoustic, as well as an Orange Stratocaster. I am hoping to soon get my hands on an Epiphone Es-339.</p>
                  <p>I also occasionally take part in local theatre productions. I played Jeff Fowlin in an instagram series called "Fowlin' Around with Jeff Fowling", a minor villain in "The Way Back" a Maltese film series, and shortly I will be playing Lancelot Gobbo in a local prodcution of the Merchant of Venice. </p>
                  </p> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Where I am Going:
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>I have many great loves in my life, music and computing are two of them, and it is a big dream of mine to eventually combine these two into a singular pursuit. I often do music computing projects, and am especially a fan of music analytics.</p> 
                </div>
              </div>
            </div>
          </div>
    </div>

    </body>
