body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #30475e;
    color: #fff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    /* Add cursor pointer to indicate interactivity */
}

h1,
h2,
h3 {
    margin-top: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 20px;
}

.collapsed .content {
    display: none;
}

.content {
    padding: 10px;
    background-color: #f9f9f9;
}

.subsection {
    margin-bottom: 10px;
}